Repository Team302/2024Crescendo, pull requests merged in 2024-03, with the labels that each got.

#622 Climbing updated from practice
  codeGenerator/configuration/RobotConfig/robots/CompBot302.xml
  src/main/cpp/mechanisms/ClimberManager/decoratormods/InitializeState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ManualState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/autoClimbState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/autoClimbState.h
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerAllStatesStateGen.cpp
Labels: Mechanisms - Climber

#614 added a check for all sensors being off before going into ready in teleopinit
  src/main/cpp/Robot.cpp
Labels: Mechanisms - Note Management

#700 Create placerapriltaglimelight.vpr
  Docs/vision/pipelinesLimelight/placerapriltaglimelight.vpr
Labels: Vision - April Tags, States - Limelight April Tags

#699 Update Pose with Vision Data
  src/main/cpp/chassis/SwerveChassis.cpp
  src/main/cpp/chassis/SwerveChassis.h
Labels: Vision - April Tags, Chassis - Odometry

#711 Drive To Note Works
  codeGenerator/configuration/RobotConfig/robots/CompBot302.xml
  codeGenerator/configuration/RobotConfig/robots/practiceBot9999.xml
  src/main/cpp/DragonVision/DragonVisionStructLogger.cpp
  src/main/cpp/DragonVision/DragonVisionStructLogger.h
  src/main/cpp/chassis/ChassisConfigPracticeBot_9999.h
  src/main/cpp/chassis/DragonDriveTargetFinder.cpp
  src/main/cpp/chassis/HolonomicDrive.cpp
  src/main/cpp/chassis/SwerveChassis.cpp
  src/main/cpp/chassis/driveStates/DriveToNote.cpp
  src/main/cpp/chassis/driveStates/DriveToNote.h
  src/main/cpp/chassis/driveStates/TrajectoryDrivePathPlanner.cpp
  src/main/cpp/chassis/headingStates/FaceGamePiece.cpp
  src/main/cpp/chassis/headingStates/FaceGamePiece.h
  src/main/cpp/configs/RobotConfigpracticeBot_9999.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.cpp
  src/main/deploy/auton/BlueAmpWing1Center2.xml
Labels: Chassis - Swerve

#716 Blue subwoofer wing3 center0
  .pathplanner/settings.json
  src/main/deploy/auton/BlueSubwooferWing2Center1.xml
  src/main/deploy/auton/BlueSubwooferWing3Center0.xml
  src/main/deploy/auton/snippets/ShootWhenStopManual.xml
  src/main/deploy/pathplanner/paths/BlueSubwooferWing2Center1_A.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing2Center1_B.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing3Center0_A.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing3Center0_B.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing3Center0_C.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing3Center0_D.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing3Center0_E.path
  src/main/deploy/pathplanner/paths/BlueSubwooferWing3Center0_F.path
Labels: Chassis - Auton Path
