Repository Team302/2024Crescendo, pull requests merged in 2024-02, with the labels that each got.

#263 updated climberManager_initialize_State.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ClimberManager_Initialize_State.cpp
Labels: Mechanisms - Climber

#338 Generate digital input creation
  codeGenerator/src/robotConfiguration/applicationData.cs
  codeGenerator/tool/CodeBeautifier.dll
  codeGenerator/tool/Configuration.dll
  codeGenerator/tool/CoreCodeGenerator.dll
  codeGenerator/tool/DataConfiguration.dll
  codeGenerator/tool/FRCrobotCodeGen302.exe
  codeGenerator/tool/NetworkTablesUtils.dll
  codeGenerator/tool/robotConfiguration.dll
Labels: Code Generator

#345 Added current limit settings for the Sparkies
  codeGenerator/src/FRCrobotCodeGen302/Properties/AssemblyInfo.cs
  codeGenerator/src/robotConfiguration/applicationData_MotorControllers.cs
  codeGenerator/templates/RobotConfigMgr.h
  codeGenerator/tool/FRCrobotCodeGen302.exe
  codeGenerator/tool/robotConfiguration.dll
  src/main/cpp/hw/DragonSparkFlex.cpp
  src/main/cpp/hw/DragonSparkFlex.h
  src/main/cpp/hw/DragonSparkMax.cpp
  src/main/cpp/hw/DragonSparkMax.h
Labels: Code Generator

#342 320-note-manager-placertolauncherback-state-transition
  src/main/cpp/mechanisms/noteManager/decoratormods/placerToLauncherBackState.cpp
Labels: Mechanisms - Note Management

#368 Note Manager Configuration on Practice Bot
  codeGenerator/configuration/RobotConfig/2024Crescendo.xml
  codeGenerator/configuration/RobotConfig/Climber.xml
  codeGenerator/configuration/RobotConfig/Thing1Equipment.xml
  codeGenerator/configuration/RobotConfig/noteManagement.xml
  codeGenerator/src/CoreCodeGenerator/MechanismInstanceGenerator.cs
  codeGenerator/src/FRCrobotCodeGen302/Properties/AssemblyInfo.cs
  codeGenerator/src/robotConfiguration/applicationData_MotorControllers.cs
  codeGenerator/templates/baseStateGen.cpp
  codeGenerator/templates/baseStateGen.h
  codeGenerator/templates/stateGen.h
  codeGenerator/templates/stateGen_singleStateGenFile.h
  codeGenerator/tool/CoreCodeGenerator.dll
  codeGenerator/tool/FRCrobotCodeGen302.exe
  codeGenerator/tool/robotConfiguration.dll
  src/main/cpp/configs/RobotConfigMgr.cpp
  src/main/cpp/configs/RobotConfigMgr.h
  src/main/cpp/configs/RobotConfigThing_1.cpp
  src/main/cpp/configs/RobotConfigThing_1.h
  src/main/cpp/configs/RobotConfigpracticeBot_9999.cpp
  src/main/cpp/configs/RobotConfigpracticeBot_9999.h
  src/main/cpp/configs/RobotElementNames.h
  src/main/cpp/hw/DragonSparkFlex.cpp
  src/main/cpp/hw/DragonSparkMax.cpp
  src/main/cpp/hw/DragonTalonFX.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/InitializeState.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerAllStatesStateGen.h
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerBaseStateGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerBaseStateGen.h
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.h
  src/main/cpp/mechanisms/MechanismTypes.h
  src/main/cpp/mechanisms/Thing1Mech/decoratormods/leftFrontCWState.cpp
  src/main/cpp/mechanisms/Thing1Mech/decoratormods/sparkyOnState.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechAllStatesStateGen.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechAllStatesStateGen.h
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechBaseStateGen.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechBaseStateGen.h
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechGen.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechGen.h
  src/main/cpp/mechanisms/base/BaseMechMotor.cpp
  src/main/cpp/mechanisms/base/BaseMechMotor.h
  src/main/cpp/mechanisms/base/BaseMechMotorState.cpp
  src/main/cpp/mechanisms/base/BaseMechMotorState.h
  src/main/cpp/mechanisms/base/BaseMechMotorWithMaxLimit.cpp
  src/main/cpp/mechanisms/base/BaseMechMotorWithMaxLimit.h
  src/main/cpp/mechanisms/base/BaseMechMotorWithMinLimit.cpp
  src/main/cpp/mechanisms/base/BaseMechMotorWithMinLimit.h
  src/main/cpp/mechanisms/base/IBaseMechMotor.h
  src/main/cpp/mechanisms/noteManager/decoratormods/OffState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/ReadyState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/backupManualLaunchState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/backupManualPlaceState.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.h
  src/main/cpp/mechanisms/noteManager/generated/noteManagerBaseStateGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerBaseStateGen.h
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.h
  src/main/cpp/teleopcontrol/TeleopControlMap.h
Labels: Mechanisms - Note Management, Mechanisms - Climber

#374 Clean lower level motor control
  codeGenerator/src/CoreCodeGenerator/MechanismInstanceGenerator.cs
  codeGenerator/src/CoreCodeGenerator/MiscellaneousGenerator.cs
  codeGenerator/src/CoreCodeGenerator/MotorControlData.cs
  codeGenerator/src/CoreCodeGenerator/RobotConfigManagerGenerator.cs
  codeGenerator/src/CoreCodeGenerator/RobotConfigRobotSpecificGenerator.cs
  codeGenerator/src/CoreCodeGenerator/baseGenerator.cs
  codeGenerator/templates/MechanismInstance.cpp
  codeGenerator/templates/MechanismInstance.h
  codeGenerator/tool/CoreCodeGenerator.dll
  src/main/cpp/PeriodicLooper.cpp
  src/main/cpp/configs/RobotConfigThing_1.cpp
  src/main/cpp/configs/RobotConfigThing_1.h
  src/main/cpp/configs/RobotConfigpracticeBot_9999.cpp
  src/main/cpp/configs/RobotConfigpracticeBot_9999.h
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ClimberManager.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ClimberManager.h
  src/main/cpp/mechanisms/ClimberManager/decoratormods/HoldState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ManualState.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.h
  src/main/cpp/mechanisms/Thing1Mech/decoratormods/Thing1Mech.cpp
  src/main/cpp/mechanisms/Thing1Mech/decoratormods/Thing1Mech.h
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechAllStatesStateGen.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechGen.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechGen.h
  src/main/cpp/mechanisms/base/StateMgr.cpp
  src/main/cpp/mechanisms/base/StateMgr.h
  src/main/cpp/mechanisms/noteManager/decoratormods/ReadyState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/backupManualLaunchState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/backupManualPlaceState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/feederIntakeState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/holdFeederState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/launcherToPlacerBackState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/launcherToPlacerFrontState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/noteManager.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/noteManager.h
  src/main/cpp/mechanisms/noteManager/decoratormods/placerIntakeState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/placerToLauncherBackState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/placerToLauncherFrontState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/preparePlaceAmpState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/preparePlaceTrapState.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.h
Labels: Code Generator

#387 369 test note manager state transitions
  CodeDocumentation/Note Management State Diagram.drawio
  codeGenerator/configuration/RobotConfig/2024Crescendo.xml
  codeGenerator/configuration/RobotConfig/Climber.xml
  codeGenerator/configuration/RobotConfig/noteManagement.xml
  src/main/cpp/hw/DragonSparkFlex.cpp
  src/main/cpp/hw/DragonSparkFlex.h
  src/main/cpp/hw/DragonSparkMax.cpp
  src/main/cpp/hw/DragonSparkMax.h
  src/main/cpp/mechanisms/ClimberManager/decoratormods/InitializeState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/OffState.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.cpp
  src/main/cpp/mechanisms/base/StateMgr.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/ReadyState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/backupManualLaunchState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/backupManualPlaceState.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.cpp
Labels: Mechanisms - Note Management

#415 NoteManger Elevator Encoder Reset and NoteManger launcherAngle Encode…
  src/main/cpp/mechanisms/noteManager/decoratormods/noteManager.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/noteManager.h
Labels: Mechanisms - Note Management

#427 310 setup climber mech initrun function for all states except autoclimb updated
  .gitignore
  .wpilib/wpilib_preferences.json
  CodeDocumentation/2024 Cresendo.xlsx
  CodeDocumentation/Climber State Diagram.drawio
  CodeDocumentation/StateTasks .xlsx
  DataTrace/FRC302DataTrace.exe
  DataTrace/decoderInfo.xml
  codeGenerator/configuration/RobotConfig/2024Crescendo.xml
  codeGenerator/configuration/RobotConfig/Climber.xml
  codeGenerator/configuration/RobotConfig/noteManagement.xml
  src/main/cpp/Robot.cpp
  src/main/cpp/configs/RobotConfigThing_1.cpp
  src/main/cpp/configs/RobotConfigThing_1.h
  src/main/cpp/hw/DragonSparkFlex.cpp
  src/main/cpp/hw/DragonSparkFlex.h
  src/main/cpp/hw/DragonSparkMax.cpp
  src/main/cpp/hw/DragonSparkMax.h
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ClimberManager.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/HoldState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/InitializeState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ManualState.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/ManualState.h
  src/main/cpp/mechanisms/ClimberManager/decoratormods/autoClimbState.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.h
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechGen.cpp
  src/main/cpp/mechanisms/Thing1Mech/generated/Thing1MechGen.h
  src/main/cpp/mechanisms/base/StateMgr.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/noteManager.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.h
  src/main/cpp/teleopcontrol/TeleopControlFunctions.h
  src/main/cpp/teleopcontrol/TeleopControlMap.h
  src/main/cpp/utils/logging/DataTrace.cpp
  src/main/cpp/utils/logging/DataTrace.h
Labels: Mechanisms - Note Management, Mechanisms - Climber

#400 304 clean up primitiveparsers pipeline attributes
  src/main/cpp/auton/CyclePrimitives.cpp
  src/main/cpp/auton/PrimitiveParams.cpp
  src/main/cpp/auton/PrimitiveParams.h
  src/main/cpp/auton/PrimitiveParser.cpp
  src/main/cpp/auton/drivePrimitives/VisionDrivePrimitive.cpp
  src/main/deploy/auton/auton.dtd
Labels: Chassis - Auton Path, Chassis - Auton Primitive

#403 364 update facecenterstage to include vision target
  src/main/cpp/chassis/headingStates/FaceCenterStage.cpp
Labels: Chassis - Swerve, Chassis - Odometry

#470 Fine tune note managerment 461&462
  CodeDocumentation/Note Management State Diagram New.drawio
  codeGenerator/configuration/RobotConfig/2024Crescendo.xml
  codeGenerator/configuration/RobotConfig/Climber.xml
  codeGenerator/configuration/RobotConfig/noteManagement.xml
  src/main/cpp/hw/DragonTalonFX.cpp
  src/main/cpp/mechanisms/ClimberManager/decoratormods/InitializeState.cpp
  src/main/cpp/mechanisms/ClimberManager/generated/ClimberManagerGen.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/OffState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/ReadyState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/holdFeederBackState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/holdPlacerFrontState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/manualLaunchState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/placeAmpState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/placeAmpState.h
  src/main/cpp/mechanisms/noteManager/decoratormods/placeTrapState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/placeTrapState.h
  src/main/cpp/mechanisms/noteManager/decoratormods/preparePlaceAmpState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/preparePlaceAmpState.h
  src/main/cpp/mechanisms/noteManager/decoratormods/preparePlaceTrapState.cpp
  src/main/cpp/mechanisms/noteManager/decoratormods/preparePlaceTrapState.h
  src/main/cpp/mechanisms/noteManager/generated/noteManagerAllStatesStateGen.cpp
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.cpp
  src/main/cpp/robotstate/RobotState.cpp
  src/main/cpp/teleopcontrol/TeleopControlMap.h
Labels: Mechanisms - Note Management

#532 tuned in PIDs
  src/main/deploy/chassis/swervemodule_9999.xml
Labels: Chassis - Swerve

#534 Fixed maintain heading
  src/main/cpp/chassis/headingStates/ISwerveDriveOrientation.h
  src/main/cpp/chassis/headingStates/MaintainHeading.cpp
Labels: Chassis - Swerve

#594 Updated Gains to match Comp bot
  codeGenerator/configuration/RobotConfig/robots/practiceBot9999.xml
  src/main/cpp/mechanisms/noteManager/generated/noteManagerGen.cpp
Labels: Mechanisms - Note Management

#610 Manual updates for brady
  src/main/cpp/mechanisms/noteManager/decoratormods/ReadyState.cpp
Labels: Mechanisms - Note Management
